<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/topics/" method="POST">
        <div>
            <textarea id="title" name="title" placeholder="Topic title" cols="50" required></textarea>
        </div>
        <div>
            <textarea id="text" name="text" placeholder="Topic text" rows="5" cols="50"></textarea>
        </div>
        <div>
            <input type="text"  id="category_id"name="category_id" placeholder="category_id" required>
        </div>

        <button type="submit">Create New Topic</button> 
    </form>
    
</body>
</html>