<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG Daddy</title>
</head>
<body>
    <h1>BG Daddy Topics</h1>

    <form style="text-align: center;" method="get" action="/topics/">
        {% if search %}
        <input type="text" name="search" value="{{ search }}" placeholder="Search">
        {% else %}
        <input type="text" name="search" placeholder="Search">
        {% endif %}
        
        
        <div>
            <input type="checkbox" name="include_topics" id="include_topics" value="true" checked>
            <label for="include_topics">Include Topics</label>
        </div>
        <div>
            <input type="checkbox" name="include_replies" id="include_replies" value="true" checked>
            <label for="include_replies">Include Replies</label>
        </div>
        <div>
            <input type="radio" name="sort_latest_first" id="sort_latest_first" value="false" checked>
            <label for="sort_latest_first">Latest First</label>
        </div>
        <div>
            <input type="radio" name="sort_latest_first" id="sort_latest_first" value="true">
            <label for="sort_latest_first">Oldest First</label>
        </div>
        <div><input type="checkbox" name="paginated" id="paginated" value="false" checked>Paginated</div>
        <div>
            <input type="radio" name="page" id="page" value=1>
            <label for="page" hidden>Paginated</label>
            <select id="page" name="page">
                <option value=1>Page 1</option>
                <option value=2>Page 2</option>
            </select>
        </div>
        
        <button type="submit">Search</button>
    </form>
    <ul>
    {% for item in result %}
        {% if include_topics %}
            <li>
                <a href="/topics/{{item.id}}">{{item.title}}</a>
                <p>Replies: {{ item.replies }}</p>
                <p>Created On: {{ item.created_on.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                <p>Locked: {{ item.is_locked }}</p>
            
            </li>
        {% endif %}
        {% if include_replies %}
            <li>
                <p>Reply to topic: {{ item.topic_id }}</p>
                <p>Created On: {{ item.created_on.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                <p>Content: {{ item.content }}</p>
                <p>Is best: {{ item.is_best }}</p>
                <p>Upvotes: {{ item.upvotes }} Downvotes: {{ item.downvotes }}</p>
            </li>
        {% endif %}
    {% endfor %}
    </ul>


</body>
</html>