<!DOCTYPE html>
<html>
    <head> 
        <title>BG Daddy Topics</title>
</head>
<body>
    <h1>BG Daddy</h1>
    <h2>{{ topic.title }}</h2>
    <h3>{{topic.text}}</h3>

    <h4>
        <p>posted: {{ topic.created_on.strftime("%Y-%m-%d %H:%M:%S") }} <br>
        Locked: {{ topic.is_locked }}
        </p>
    </h4>
    
    <p style="font-size: large;"><strong>Replies</strong>: 
        <ul>
            {% for reply in topic.replies %}
            <li>
                <h3>Content: {{ reply.content }}</h3>
                <p>Created by: {{ reply.username }}, {{ reply.created }}</p>
                {% if reply.is_best == false %}
                    <form action="../replies/make_best/" method="POST">
                        <input type="hidden" name="topic_id" id="topic_id" value={{reply.topic_id}}>
                        <input type="hidden" name="reply_id" id="reply_id" value={{reply.id}}>
                
                        <button type="submit">Make Best</button>
                    </form> 
                {% else %}
                    <h4>Best reply</h4>
                {% endif %}
                
                <form action="../replies/vote/" method="POST">
                    <select id="vote" name="vote" required>
                        <option value=1>Vote up</option>
                        <option value=-1>Vote down</option>
                        <option value=0>Remove vote</option>
                    </select>
                    <input type="hidden" name="topic_id" id="topic_id" value={{reply.topic_id}}>
                    <input type="hidden" name="reply_id" id="reply_id" value={{reply.id}}>
                    
                    <button type="submit">Vote</button>
                    </form> 
                <p>Upvotes {{ reply.upvotes }} <br>
                   Downvotes {{ reply.downvotes }} 
                </p>
            </li>
            {% endfor %}
        </ul>
    </p>
    {% if topic.is_locked == false %}
        <a href="/replies/create/{{topic.id}}">Create New Reply</a>
    {% endif %}
</body>
</html>
