<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category ID Input</title>
</head>

<body>

    <h1>Enter Category ID</h1>

    <form action="/categories/operations" method="post">
        <label for="cat_id">Category ID:</label>
        <input type="number" id="cat_id" name="cat_id" required min="1"><br>

        <button type="submit">Proceed</button>
    </form>

</body>

</html>