<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Created</title>
</head>

<body>

    <h1>Category Created</h1>

    <h2>Category Details:</h2>

    <ul>
        <li><strong>Name:</strong> {{ category.name }}</li>
        <li><strong>Privacy Status:</strong> {{ category.privacy_status }}</li>
        <li><strong>Access Status:</strong> {{ category.access_status }}</li>
        <li><strong>Created On:</strong> {{ category.created_on.strftime("%Y-%m-%d %H:%M:%S") }}</li>
    </ul>

</body>

</html>