<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 style="text-align: center;">BG Daddy</h1>
    <title>Topics List</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>

    <h2>Topics List:</h2>

<ul>
    {% for topic in topics %}
        <li>
            <h2>{{ topic.title }}</h2>
            <h3>{{ topic.text }}</h3>
            <p>Created On: {{ topic.created_on.strftime("%Y-%m-%d %H:%M:%S") }}</p>
            <p>Text: {{ topic.text }}</p>
            <p>Category: {{ topic.category_name }}</p>
            <p>Author ID: {{ topic.author_id }}</p>
            <p>Is Locked: {{ topic.is_locked }}</p>
            <p>Replies Count: {{ topic.replies }}</p>
            <a href="/topics/{{ topic.id }}">View Replies</a>

        </li>
    {% endfor %}
</ul>

<a href="/categories/" style="display: block;">Back to Categories</a>
<a href="/users/dashboard" style="display: block;">Back to Dashboard</a>

</body>
</html>