<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    {% if user_role == 'guest' %}
    <h3>Guest Access:</h3>
    <ul>
        <li><a href="/categories/">Categories List</a></li>
        <li><a href="/categories/{{ cat_id }}">Category Details</a></li>
        <li><a href="/topics/">Topics List</a></li>
        <!-- <li><a href="/topics/{{ id }}">Topic Details</a></li> -->
    </ul>
    {% endif %}

    {% if user_role in ['registered', 'admin'] %}
    <h3>User Access:</h3>
    <ul>
        <!-- Endpoints from Guest Access -->
        <li><a href="/categories/">Categories List</a></li>
        <li><a href="/categories/{{ cat_id }}">Category Details</a></li>
        <li><a href="/topics/">Topics List</a></li>
        <li>"/topics/{id}" -> Topic Details</li><br>

        <!-- Additional Endpoints for Registered Users -->
        <li>"/topics/create" -> Create Topic</li>
        <li>"/topics/edit/{id}" -> Edit Topic</li>
        <li>"/replies/create/{topic_id}" -> Create Reply</li>
        <li>"/replies/choose_best/" -> Choose Best Reply</li>
        <li>"/replies/vote/" -> Vote on Reply</li>
        <li>"/replies/edit/reply/{reply_id}" -> Edit Reply</li>
        <li><a href="/messages/viewtemplate">View Messages</a></li>
        <li><a href="/messages/template">Create Message</a></li>
    </ul>
    {% endif %}
    
    {% if user_role == 'admin' %}
    <h3>Admin Access:</h3>
    <ul>
        <li>"/topics/lock/{{ id }}" -> Lock Topic</li>
        <li><a href="/users/adminchange">Change User to Admin</a></li>
        <li><a href="/categories/{{ cat_id }}/privileged_users">Privileged Users of Category</a></li>
        <li><a href="/categories/create">Create Category</a></li>
        <!-- <li><a href="/users/admin">Admin User Management</a></li>  -->
        <li> Privileged Users of Category </p>
        </li>
        <form id="myForm" method="get" style="display: flex; align-items: center;">
            <label for="cat_id">Category id:</label>
            <input type="number" id="cat_id" name="cat_id" required min="1" style="margin-right: 5px; width: 50px;">
            <button type="button" onclick="submitForm()">See privileged users</button>
        </form>
        <script>
            function submitForm() {
                var catId = document.getElementById('cat_id').value;
                if (catId > 0) { window.location.href = '/categories/' + catId + '/privileged_users'; } else { alert('Please enter a valid Category id (> 0)'); }
            }
        </script>
        <li><a href="/categories/create_category">Create Category</a></li>
        <li><a href="/categories/set_category_privacy">Set Category Privacy</a></li>
        <li><a href="/categories/set_read_write_access">Set Category Read/Write Access</a></li>
        <li><a href="/categories/revoke_user_access">Revoke User Access to Category</a></li>
    </ul>
    {% endif %}

</body>

</html>