<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

{% if user_role == 'guest' %}
    <h3>Guest Access:</h3>
    <ul>
        <li><a href="/categories/">Categories List</a></li>
        <li><a href="/categories/{{ cat_id }}">Category Details</a></li>
        <li><a href="/topics/">Topics List</a></li>
        <li><a href="/topics/{{ id }}">Topic Details</a></li>
    </ul>
{% endif %}

{% if user_role in ['registered', 'admin'] %}
    <h3>User Access:</h3>
    <ul>
        <!-- Endpoints from Guest Access -->
        <li><a href="/categories/">Categories List</a></li>
        <li><a href="/categories/{{ cat_id }}">Category Details</a></li>
        <li><a href="/topics/">Topics List</a></li>
        <li><a href="/topics/{{ id }}">Topic Details</a></li>
        
        <!-- Additional Endpoints for Registered Users -->
        <li><a href="/topics/create">Create Topic</a></li>
        <li><a href="/topics/edit/{{ id }}">Edit Topic</a></li>
        <li><a href="/topics/lock/{{ id }}">Lock Topic</a></li>
        <li><a href="/replies/create/{{ topic_id }}">Create Reply</a></li>
        <li><a href="/replies/choose_best/{{ topic_id }}/reply/{{ reply_id }}">Choose Best Reply</a></li>
        <li><a href="/replies/vote/{{ reply_id }}/reply/{{ topic_id }}">Vote on Reply</a></li>
        <li><a href="/replies/edit/{{ topic_id }}/reply/{{ reply_id }}">Edit Reply</a></li>
        <li><a href="/messages/">Messages List</a></li>
        <li><a href="/messages/specified">Specified Messages</a></li>
        <li><a href="/messages/create">Create Message</a></li>
    </ul>
{% endif %}

{% if user_role == 'admin' %}
    <h3>Admin Access:</h3>
    <ul>
        <li><a href="/users/admin">Admin User Management</a></li>
        <li><a href="/categories/{{ cat_id }}/privileged_users">Privileged Users of Category</a></li>
        <li><a href="/categories/create">Create Category</a></li>
        <li><a href="/categories/{{ cat_id }}/privacy">Set Category Privacy</a></li>
        <li><a href="/categories/{{ cat_id }}/access/read">Set Category Read Access</a></li>
        <li><a href="/categories/{{ cat_id }}/access/write">Set Category Write Access</a></li>
        <li><a href="/categories/edit/{{ cat_id }}">Edit Category</a></li>
        <li><a href="/categories/{{ cat_id }}/access/delete">Delete Category Access</a></li>
    </ul>
{% endif %}

</body>
</html>
