<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG Daddy Landing Page</title>
</head>
<body>
    <h1 style="text-align: center;">BG Daddy</h1>
    <br>
    <br>
    <h2 style="text-align: center;">There is no such user</h2>
    <br>
    <br>
    <a href="/messages/template">Back to Send Messages</a>
    <br>
    <br>
    <a href="/messages/viewtemplate">Back to View Messages</a>
    <br>
    <br>
    <a href="/users/dashboard">Back to Dashboard</a>
</body>