<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Reply</title>
</head>
<body>
    <form action="/replies/create/{{id}}" method="POST">
        <div>
            <textarea  id="content" name="content" placeholder="Reply content" required rows="5" cols="50"></textarea>
        </div>

        <button>Create New Reply</button>
    </form>
    <a href="/topics/{{id}}" class="back-button">Back to topic</a>
</body>
</html>